@media screen and (max-width: 920px) {
    .chess li i {
        font-size: 2em;
        padding: 20% 0 8%;
    }

    .chess h2 {
        font-size: 1.1em;
    }

    .chess span {
        font-size: 0.8em;
    }
}

@media screen and (max-width: 660px) {
    .chess li i {
        font-size: 1.5em;
    }

    .chess h2 {
        font-size: 0.8em;
    }

    .chess span {
        font-size: 0.6em;
    }
}

@media screen and (max-width: 520px) {
    .chess {
        line-height: 0.5;
    }

    .chess h2 {
        font-size: 0.8em;
        margin-bottom: 2%;
    }

    .chess span {
        font-size: 0.6em;
    }
}

@media screen and (max-width: 460px) {
    .chess li i {
        font-size: 1em;
        padding: 15% 0 12%;
    }

    .chess h2 {
        font-size: 0.6em;
        margin-bottom: 2%;
    }

    .chess span {
        font-size: 0.45em;
    }
}